myenv/
myvenv/
SQL_Server.py
venv/
frontend/node_modules/
frontend/public/
frontend/.env
backend/node_modules
backend/.env
/backend/package-lock.json
/node_modules

/frontendV2/node_modules
/backendV2/node_modules
/.tmp
/backend/models/__pycache__
/backend/database/__pycache__
__pycache__/