myenv/
myvenv/
SQL_Server.py
venv/
frontend/node_modules/
frontend/public/
frontend/.env
backend/node_modules
backend/.env
/backend/package-lock.json
/node_modules
.env
/frontendV2/node_modules
/backendV2/node_modules
/.tmp
__pycache__/
cunycoursescheduler_data.sql
.vscode
/secrets/*
